<link rel="stylesheet" href="/chota.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $namespaceName := "_execution_log" }}
{{ $ctx := store_Get $namespaceName .arguments.key }}
{{ if hasField $ctx "Created" }}
<div class="container">
    <a href="/ui/store.html?namespace={{$namespaceName}}&maxAge=10m">Last 10min</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Code</th>
            <th>Duration</th>
        </tr>
        <tr>
            <td><b>{{.arguments.key}}</b></td>
            <td>{{$ctx.Created}}</td>
            <td colspan=2 align="right"><a
                    href="/ui/storeSingle.html?namespace={{$namespaceName}}&key={{.arguments.key}}">Plain</a> <a
                    href="/graph/contextToDot/?namespace={{$namespaceName}}&key={{.arguments.key}}">ToDot</a> <a
                    href="/ui/store.html?namespace=_error_log&modifiedBy={{$.arguments.key}}">Errors</a></td>
        </tr>
        {{ range $i, $Operation := $ctx.Operations }}
        <tr>
            <td><a href="/ui/edit?graph={{$Operation.GraphName}}">{{$Operation.GraphName}}</a> {{$Operation.OpDesc}}</td>
            <td>{{$Operation.StartTime}}</td>
            <td>{{$Operation.HTTPResponseCode}}</td>
            <td align="right">{{$Operation.ExecutionDuration}}</td>
        </tr>
        {{ end }}
    </table>
</div>
{{ else }}
<div class="container">
    <h1>Execution log not found</h1>
    <p>Key: {{.arguments.key}}</p>
    <p>Error: {{ $ctx }}</p>
</div>
{{ end }}
`