<footer style="clear: both" class="text-center">
  <a href="/ui">Home</a> <a href="/ui/edit">New Graph</a> <a href="/ui/editconfig.html">Edit Config</a>
  {{ range $name, $info := graph_GetGraphDescByTag "ui,footer" }}
  <a href="/graph/{{ $name }}">{{ $name }}</a>
  {{ end }}
  <br><br>
  Freeps {{ .Version }}, started at {{ .StartedAt }}
</footer>

<script>
  function inIframe() {
    try {
      return window.self !== window.top;
    } catch (e) {
      return true;
    }
  }
  if (window.matchMedia &&
    window.matchMedia('(prefers-color-scheme: dark)').matches) {
    document.body.classList.add('dark');
  }
  if (inIframe()) {
    f = document.querySelector("footer")
    f.parentNode.removeChild(f)
  }
</script>