<meta name="viewport" content="width=device-width, initial-scale=1">
<form action="#" method="POST">
<div style="float: left; max-width: 500px">
	<input type="hidden" name="selectednumop" value="{{ .Numop }}" />

	{{ $op := (index .GraphDesc.Operations $.Numop) }}
	<input type="hidden" name="opName" value="{{ $op.Name }}" onChange="this.form.submit()" />
	<p>
		<h4>Operator:</h4>
		{{ range $key, $value := .OpSuggestions }}
		<button name="op" value="{{ $key }}" {{ if $value}} disabled="true" {{ end }} >{{ $key }}</button>
		{{ end }}
	</p>
	<p>
		<h4>Function:</h4>
		{{ range $key, $value := .FnSuggestions }}
		<button name="fn" value="{{ $key }}" {{ if $value}} disabled="true" {{ end }}>{{ $key }}</button>
		{{ end }}
		<input type="text" name="fn" value="{{ $op.Function }}" onChange="this.form.submit()" />
	</p>

	<p>
		<h4>Arguments:</h4>
		{{ range $argName, $argVal := $op.Arguments }}
		<p>{{ $argName }}:
			{{ range $argopt, $argmap := $.ArgSuggestions }}
				{{if eq $argopt $argName}}
					{{ range $argShowValue, $argRealValue := $argmap }}<button name="arg.{{ $argName }}" value="{{ $argRealValue }}">{{ $argShowValue }}</button>{{ end }}
				{{ end }}
			{{ end }}
			<input type="text" name="arg.{{ $argName }}" value="{{ $argVal }}"  onChange="this.form.submit()" />
			<button name="delArg" value="{{ $argName }}">-</button>
		</p>
		{{ end }}
		New Argument:
		 {{ range $argName, $argSelected := $.ArgSuggestions }}
		 <button type="submit" name="newArg" value="{{ $argName }}">{{ $argName }}</button>
		 {{ end }}
		<input type="text" name="newArg" />
		<button type="submit">+</button>
	</p>

	<p>
		Call Operation {{ .Numop }} directly: <a href="{{ .Quicklink }}">{{ .Quicklink }}</a>
	</p>
	{{ if eq $op.Operator "graph" }}
	<p>
		Edit Graph {{ $op.Function }}: <a href="/ui/editGraph?graph={{ $op.Function }}">{{ $op.Function }}</a>
	</p>
	{{ end }}
</div>

	<input type="hidden" name="GraphJSON" value="{{ .GraphJSON }}">

	<div style="clear: both">
		<button type="submit" name="Execute" value="Execute">Execute</button>
		<input type="text" name="GraphName" value="{{ .GraphName }}" />
		<button type="submit" name="SaveTemp">Save Temporarily</button>
		<button type="submit" name="SaveGraph">Save Graph</button>
		<button type="submit" name="GraphJSON" value="" />Reset</button>
	</div>	
</form>
<hr />
<form action="{{ .Quicklink }}" method="POST" target="outputframe">
{{ range $argName, $argVal := $op.Arguments }}
	<p><label for="input_{{ $argName }}">{{ $argName }}: </label>
		<input id="input_{{ $argName }}" type="text" name="{{ $argName }}" value="{{ $argVal }}" disabled/>
	</p>
{{ end }}

{{ $TestInput := "" }}
{{ if eq $op.Operator "graph" }}
	{{ $gi := store_Get "_graph_info" $op.Function }}
	{{ if hasField $gi "Input" }}
		{{ $TestInput = $gi.Input }}
	{{ end }}
{{ end }}
	<p>
		<label for="textarea_input">Input: </label>
		<textarea id="textarea_input" name="input" cols="50" rows="10" >{{ $TestInput }}</textarea>
	</p>
	<p>
		<label for="input_input_content-type">Content-Type (optional):</label>
		<input id="input_input_content_type" name="input-content-type">
		<button type="submit" name="ExecuteWithInput" value="Execute">Execute</button>
	</p>
</form>
{{ if ne .Output "" }}
<iframe name="outputframe"
	style="min-width: 500px; height:400px; display:flex; margin:0; padding:0; resize:both; overflow:hidden"
	id="outputframe" src="{{ .Output }}"></iframe>
{{ end }}
