<link rel="stylesheet" href="/chota.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{$i := 0}}
<div class="container">
	<div class="row">
{{ range $key, $value := store_GetKeys "_fritz" }}
	{{ if divisibleBy $i 3 }}</div><div class="row">{{ end }}{{$i = add $i 1}}
		<iframe name="fritz-tile-{{$key}}" class="col" src="/ui/simpleTile?templateName=fritzTile.html&ain={{$value}}"></iframe>
{{ end}}

{{ range $key, $value := .input._tiles }}
	{{ if ne $key "devicelist" }}
	{{ if divisibleBy $i 3 }}</div><div class="row">{{ end }}{{$i = add $i 1}}
		<iframe name="tile-{{$key}}" class="col" src="/graph/{{$key}}"></iframe>
	{{end}}
{{end}}

{{ if divisibleBy $i 3 }}</div><div class="row">{{ end }}{{$i = add $i 1}}
		<iframe name="outputframe" id="outputframe" class="col"></iframe>
	</div>  <!--  row -->
</div><!--  container -->