<link rel="stylesheet" href="/chota.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{$i := 0}}
<div class="container">
	<div class="row">
{{ range $key, $value := ._tiles.devicelist.Output.Device }}
	{{ if or $value.HKR $value.SimpleOnOff }}
		{{ if divisibleBy $i 4 }}</div><div class="row">{{ end }}{{$i = add $i 1}}
		<div class="col">
			<header><h4>{{ $value.Name }} {{ if $value.Temperature }} - {{ $value.Temperature.Celsius }} {{ end }} </h4></header>
		{{ if $value.HKR }}
			<div style="margin: auto">

			<form action="/fritz/sethkrtsoll" method="GET" target="outputframe" style="display: flex; justify-content: center">
			<input style="width:80px;" type="number" name="param" min="16" max="56" value="{{ $value.HKR.Tsoll }}" />
			<button name="ain" value="{{ $value.AIN }}">Set</button>
			</form>

			<form action="/fritz/sethkrtsoll" method="GET" target="outputframe">
			<input type="hidden" name="ain" value="{{ $value.AIN }}">
			<div style="display: flex; justify-content: center">
				<button name="param" value="32">16°C</button>
				<button name="param" value="38">19°C</button>
			</div>
			<div style="display: flex; justify-content: center">
				<button name="param" value="44">22°C</button>
				<button name="param" value="50">25°C</button>
			</div>
			</form>
			</div>
		{{ end}}

		{{ if $value.SimpleOnOff }}
			<div style="margin: auto">

			<form action="/fritz/setsimpleonoff"  method="GET" target="outputframe">
			<input type="hidden" name="device" value="{{ $value.AIN }}">
			<div style="display: flex; justify-content: center">
				<button name="onoff" value="1">On</button>
				<button name="onoff" value="0">Off</button>
			</div>
			<div style="display: flex; justify-content: center">
				<button name="onoff" value="Toggle">Toggle</button>
			</div>
			</form>
			</div>
		{{ end}}
		</div>
	{{ end}}
{{ end}}

{{ range $key, $value := ._tiles }}
	{{ if ne $key "devicelist" }}
	{{ if divisibleBy $i 4 }}</div><div class="row">{{ end }}{{$i = add $i 1}}
		<iframe name="tile-{{$key}}" class="col" src="/graph/{{$key}}"></iframe>
	{{end}}
{{end}}

{{ if divisibleBy $i 4 }}</div><div class="row">{{ end }}{{$i = add $i 1}}
		<iframe name="outputframe" id="outputframe" class="col"></iframe>
	</div>  <!--  row -->
</div><!--  container -->