<!-- <link rel="stylesheet" href="/chota.min.css"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">

{{$.response}}
{{$pmName := "last"}}
{{$nextColor := "#ffffff"}}
{{if $.arguments.color }}
{{$nextColor = $.arguments.color}}
{{end}}
{{if $.arguments.pixelMatrix }}
{{$pmName = $.arguments.pixelMatrix}}
{{end}}
<form method="GET">
    Color: <input style="clear: both" type="color" value="{{$nextColor}}" name="color" onChange="this.form.submit()">
    Name: <input type="text" value="{{$pmName}}" name="pixelMatrix" label="Pixel Matrix Name">
    <button>Submit</button>
</form>

<form method="POST">
    <input type="hidden" name="ExecuteOperator" value="wled">
    <input type="hidden" name="ExecuteFunction" value="drawPixel">
    <div style="background-color: black;">
{{ range $y, $row := store_Get "_wled" $pmName }}
{{ range $x, $color := $row }}
        <button name="ExecuteArgs" value="x={{$x}}&y={{$y}}&color={{$nextColor}}&pixelMatrix={{$pmName}}" style="float:left; background-color: {{ $color }};width: 20px;height: 20px;border: solid black, display: block;"> </button>
{{ end}}
    <br /><br />
{{ end }}
    </div>
</form>
<form method="POST">
    <input type="hidden" name="ExecuteOperator" value="wled">
    <input type="hidden" name="ExecuteFunction" value="drawPixelMatrix">
    AnimationType: <input type="text" name="ExecuteArg.AnimationType" value="moveLeft">
    Name: <input type="text" value="{{$pmName}}" name="ExecuteArg.pixelMatrix" label="Pixel Matrix Name">
    Repeat: <input type="number" value="0" name="ExecuteArg.repeat">
    Step: <input type="number" value="200" name="ExecuteArg.stepDurationInMillis">
    <button>Draw</button>
</form>
<form method="POST">
    <input type="hidden" name="ExecuteOperator" value="wled">
    <input type="hidden" name="ExecuteFunction" value="setString">
    String: <input type="text" value="Freeps" name="ExecuteArg.string">
    <button>Draw</button>
</form>
<br clear="both" />
<br />
