<meta name="viewport" content="width=device-width, initial-scale=1">

{{$pmName := "pixelmatrix"}}
{{$nextColor := "#ffffff"}}
{{if $.arguments.color }}
{{$nextColor = $.arguments.color}}
{{end}}
{{if $.arguments.pixelMatrix }}
{{$pmName = $.arguments.pixelMatrix}}
{{end}}
<form method="GET">
    <label>
        Color: <input style="clear: both" type="color" value="{{$nextColor}}" name="color" onChange="this.form.submit()">
    </label>
    <label>
        Name: <input type="text" value="{{$pmName}}" name="pixelMatrix" label="Pixel Matrix Name">
    </label>
    <button>Submit</button>
</form>

<form method="POST">
    <input type="hidden" name="ExecuteOperator" value="wled">
    <input type="hidden" name="ExecuteFunction" value="drawPixel">
    <div style="background-color: black;">
{{ range $y, $row := store_Get "_wled" $pmName }}
{{ range $x, $color := $row }}
        <button name="ExecuteArgs" value="x={{$x}}&y={{$y}}&color={{$nextColor}}" style="float:left; background-color: {{ $color }};width: 20px;height: 20px;border: solid black, display: block;"> </button>
{{ end}}
</form>
<br /><br />
{{ end }}
</div>
<br clear="both" />
<br />
