<meta name="viewport" content="width=device-width, initial-scale=1">

<form method="GET" action="/graph/getStoreNamespace">
    <label>
        Namespace: <input type="text" value="{{$.Namespace}}" name="namespace" label="Namespace">
    </label>
    <button>Submit</button>
</form>

<table>
    <tr><th>Name</th><th>Time</th><th>Duration</th></tr>
{{ range $namespaceName, $namespace := . }}
{{ range $ctxName, $ctx := $namespace }}
<tr> <td><b>{{$ctxName}}</b></td><td>{{$ctx.Output.Created}}</td><td></td></tr>
{{ range $i, $Operation := $ctx.Output.Operations }}
<tr><td>{{$Operation.GraphName}} {{$Operation.OpDesc}}</td><td>{{$Operation.StartTime }}</td><td>{{$Operation.ExecutionDuration }} </td></tr>
{{ end }}
{{ end }}
{{ end }}
</table>
