<meta name="viewport" content="width=device-width, initial-scale=1">
<form action="#" method="POST">
<p>
<label for="numop">Number of operation:</label>
<input type="number" id="numop" name="numop" min="0" max="50" value="{{ .Numop }}" />
<button name="goop">GO</button>
</p>
<p>
	Mod:
		{{ range $key, $value := .OpSuggestions }}
			{{ if $value}}
				<button name="op" value="{{ $key }}" disabled="true" >{{ $key }}</button>
			{{ else}}
				<button name="op" value="{{ $key }}">{{ $key }}</button>
			{{ end }}
		{{ end }}
</p>
<p>
	Function:
		{{ range $key, $value := .FnSuggestions }}
			{{ if $value}}
				<button name="fn" value="{{ $key }}" disabled="true" >{{ $key }}</button>
			{{ else}}
				<button name="fn" value="{{ $key }}">{{ $key }}</button>
			{{ end }}
		{{ end }}
</p>

<p>
	Arguments:
{{ range $arg, $argmap := .ArgSuggestions }}
<p>
	{{ $arg }}
	{{ range $key, $value := $argmap }}
	<button name="arg.{{ $arg }}" value="{{ $value }}">{{ $key }}</button>
	{{ end }}
	<button name="arg.{{ $arg }}" value="">_empty_</button>
</p>
{{ end }}
</p>

<p>
	InputFrom:
		{{ range $key, $value := .InputFromSuggestions }}
			{{ if $value}}
				<button name="inputFrom" value="{{ $key }}" disabled="true" >{{ $key }}</button>
			{{ else}}
				<button name="inputFrom" value="{{ $key }}">{{ $key }}</button>
			{{ end }}
		{{ end }}
</p>
<p>
	Call Operation {{ .Numop }} directly: <a href="{{ .Quicklink }}">{{ .Quicklink }}</a>
</p>
<textarea name="GraphJSON" cols="200" rows="50">
{{ .GraphJSON }}
</textarea>
</p>

<button type="submit" name="Execute" value="Execute">Execute</button>
<input type="text" name="GraphName" value="{{ .GraphName }}"/>
<button type="submit" name="SaveTemp">Save Temporarily</button>
<button type="submit" name="SaveGraph">Save Graph</button>
<button type="submit" name="GraphJSON" value="" />Reset</button>
</form>
<iframe name="outputframe" style="min-width: 500px; height:400px; display:flex; margin:0; padding:0; resize:both; overflow:hidden" id="outputframe" src="{{ .Output }}"></iframe>