<meta name="viewport" content="width=device-width, initial-scale=1">
<form action="#" method="POST">
	<input type="hidden" name="selectednumop" value="{{ .Numop }}" />
	<div>
		{{ range $key, $value := .GraphDesc.Operations }}
		<div style="float: left"><button name="newOp" type="submit" value="{{ $key }}">+</button></div>
		<div
		style="float: left; width: 300px; height: 190px; border: 1px solid gray; margin: 10px; overflow:hidden; padding:3px; box-sizing: border-box; ">
		   <div style="height: 50px; margin: auto"> <b>{{ $value.Name }}</b>
			{{ if not (eq $key $.Numop) }}
			<button type="submit" name="numop" value="{{ $key }}">Edit</button>
			{{ else }}
			<a href="#ModifyOp">Edit below</a>
			{{ end }}
			<button type="submit" name="graphOutput" value="{{ $value.Name }}">Set Output</button>
			<button type="submit" name="deleteOp" value="{{ $key }}">-</button>
			</div>
			<table>
				<tr><td>Operator / Function</td><td> {{ $value.Operator }} / {{ $value.Function }}</td></tr>
				{{ if not (eq $value.InputFrom "") }}
				<tr><td>InputFrom</td><td> {{ $value.InputFrom }} </td></tr>
				{{ end }}
				{{ if not (eq $value.ExecuteOnFailOf "") }}
				<tr><td>ExecuteOnFailOf</td><td> {{ $value.ExecuteOnFailOf }}</td></tr>
				{{ end }}
				{{ range $argName, $argVal := $value.Arguments }}
				<tr><td>{{ $argName }}</td><td> {{ $argVal }} </td></tr>
				{{ end }}
			</table>
		</div>
		{{ end }}
		<div style="float: left;"><button name="newOp" type="submit" value="{{ len .GraphDesc.Operations }}">+</button></div>
	</div>
	{{ if not (eq .Error "") }}
	<div style="clear:both; color: red;border: 1px solid red;">{{ .Error }}</div>
	{{ end }}
	<hr style="clear:both"></hr>
	{{ $op := (index .GraphDesc.Operations $.Numop) }}
	<p>
		<label><h4 id="ModifyOp">Name (values starting with # will be ignored):</h4>
		<input type="text" name="opName" value="{{ $op.Name }}" onChange="this.form.submit()" />
		</label>
	</p>
	<p>
		<h4>Operator:</h4>
		{{ range $key, $value := .OpSuggestions }}
		<button name="op" value="{{ $key }}" {{ if $value}} disabled="true" {{ end }} >{{ $key }}</button>
		{{ end }}
	</p>
	<p>
		<h4>Function:</h4>
		{{ range $key, $value := .FnSuggestions }}
		<button name="fn" value="{{ $key }}" {{ if $value}} disabled="true" {{ end }}>{{ $key }}</button>
		{{ end }}
		<input type="text" name="fn" value="{{ $op.Function }}" onChange="this.form.submit()" />
	</p>

	<p>
		<h4>Arguments:</h4>
		{{ range $argName, $argVal := $op.Arguments }}
		<p>{{ $argName }}:
			{{ range $argopt, $argmap := $.ArgSuggestions }}
				{{if eq $argopt $argName}}
					{{ range $argShowValue, $argRealValue := $argmap }}<button name="arg.{{ $argName }}" value="{{ $argRealValue }}">{{ $argShowValue }}</button>{{ end }}
				{{ end }}
			{{ end }}
			<input type="text" name="arg.{{ $argName }}" value="{{ $argVal }}"  onChange="this.form.submit()" />
			<button name="delArg" value="{{ $argName }}">-</button>
		</p>
		{{ end }}
		New Argument:
		 {{ range $argName, $argSelected := $.ArgSuggestions }}
		 <button type="submit" name="newArg" value="{{ $argName }}">{{ $argName }}</button>
		 {{ end }}
		<input type="text" name="newArg" />
		<button type="submit">+</button>
	</p>

	<p>
		<h4>InputFrom:</h4>
		{{ range $key, $value := .InputFromSuggestions }}
		<button name="inputFrom" value="{{ $value }}">{{ $value }}</button>
		{{ end }}
		<button name="inputFrom" value="">_empty_</button>
	</p>
	<p>
		<h4>ExecuteOnFailOf:</h4>
		{{ range $index, $value := .InputFromSuggestions }}
		<button name="executeOnFailOf" value="{{ $value }}">{{ $value }}</button>
		{{ end }}
		<button name="executeOnFailOf" value="">_empty_</button>
	</p>
	<p>
		Call Operation {{ .Numop }} directly: <a href="{{ .Quicklink }}">{{ .Quicklink }}</a>
	</p>
	<textarea name="GraphJSON" cols="200" rows="50">
{{ .GraphJSON }}
</textarea>
	</p>

	<button type="submit" name="Execute" value="Execute">Execute</button>
	<input type="text" name="GraphName" value="{{ .GraphName }}" />
	<button type="submit" name="SaveTemp">Save Temporarily</button>
	<button type="submit" name="SaveGraph">Save Graph</button>
	<button type="submit" name="GraphJSON" value="" />Reset</button>
</form>
<iframe name="outputframe"
	style="min-width: 500px; height:400px; display:flex; margin:0; padding:0; resize:both; overflow:hidden"
	id="outputframe" src="{{ .Output }}"></iframe>