<meta name="viewport" content="width=device-width, initial-scale=1">
<div style="float:left">
<ul>
		{{ range $key, $value := .Graphs }}
				<li> <a href="/system/getGraph?name={{ $value }}" target="outputframe">{{ $value }}</a> <a href="/graph/{{ $value }}" target="outputframe">Execute</a> <a href="/ui/edit?graph={{ $value }}">Edit</a> <a href="/system/deleteGraph?name={{ $value }}" target="outputframe">Delete</a> </li>
		{{ end }}
</ul>
</div>
<div>
<iframe name="outputframe" style="min-width: 500px; height:400px; display:flex; margin:0; padding:0; resize:both; overflow:hidden" id="outputframe" src="{{ .Output }}"></iframe>
</div>