<meta name="viewport" content="width=device-width, initial-scale=1">

<form method="GET" action="/graph/wledPixelMatrix">
    <label>
        Color: <input style="clear: both" type="color" value="{{$.NextColor}}" name="color" onChange="this.form.submit()">
    </label>
    <label>
        Name: <input type="text" value="{{$.Name}}" name="pixelMatrix" label="Pixel Matrix Name">
    </label>
    <label>
        Segment: <input type="text" value="{{$.Segment}}" name="SegID" label="Pixel Matrix Name">
    </label>
    <button>Submit</button>
</form>

<div style="background-color: black;">
{{ range $y, $row := .PixelMatrix }}
{{ range $x, $color := $row }}
    <div style="float:left; background-color: {{ $color }};width: 20px;height: 20px;border: solid black">
            <a href="/graph/wledPixelMatrix?x={{$x}}&y={{$y}}&color={{$.NextColor}}&pixelMatrix={{$.Name}}&SegID={{$.Segment}}" class="display: block; height: 100%; width: 100%; text-decoration: none;">_</a>
    </div>
{{ end}}
<br /><br />
{{ end }}
</div>
<br clear="both" />
<br />
